<div class="array-three">
    <div class="array-three-left">
        <div class="array-three-xz">
            <div class="array-three-operater">
                <div>
                    当前y坐标: {{ currentY }}
                </div>
                <div class="array-three-button" (click)="changeCurrent('y','plus')"> Y++ </div>
                <div class="array-three-button" (click)="changeCurrent('y','minus')"> Y-- </div>
            </div>
            <div class="array-three-main">
                @for( rowz of [].constructor(axisZ); track rowz;let z = $index;) {
                    <div style="display: flex;" [style.background-color]="( axisZ - z - 1 ) == currentZ ? '#FF000080' : ''">
                      @for ( colx of [].constructor(axisX); track colx; let x = $index) {
                            @if( isBlock(x,null,z) ) {
                                <div 
                                    (contextmenu)="removeBlock(x,null,z)"
                                    (click)="addBlock(x,null,z)"
                                    class="array-three-block">
                                </div>
                            }@else{
                                <div 
                                    (click)="addBlock(x,null,z)"
                                    class="array-three-cell"
                                    [style.background-color]="x == currentX ? '#FF000080' : ''">
                                </div>
                            }
                        } 
                    </div>
                }
            </div>
        </div>
        <div class="array-three-xy">
            <div class="array-three-operater">
                 <div>
                    当前z坐标: {{ currentZ }}
                </div>
                <div class="array-three-button" (click)="changeCurrent('z','plus')"> Z++ </div>
                <div class="array-three-button" (click)="changeCurrent('z','minus')"> Z-- </div>
            </div>
            <div class="array-three-main">
                @for( rowy of [].constructor(axisY); track rowy;let y = $index;) {
                    <div style="display: flex;" [style.background-color]="( axisY - y - 1 ) == currentY ? '#00FF0080' : ''">
                        @for ( colx of [].constructor(axisX); track colx; let x = $index) {
                            @if( isBlock(x,y,null) ) {
                                <div 
                                    (contextmenu)="removeBlock(x,y,null)"
                                    (click)="addBlock(x,y,null)"
                                    class="array-three-block">
                                </div>
                            }@else{
                                <div 
                                    (click)="addBlock(x,y,null)"
                                    class="array-three-cell"
                                    [style.background-color]="x == currentX ? '#00FF0080' : ''">
                                </div>
                            }
                        } 
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="array-three-right">
        <div class="array-three-yz">
            <div class="array-three-operater">
                 <div>
                    当前x坐标: {{ currentX }}
                </div>
                <div class="array-three-button" (click)="changeCurrent('x','plus')"> X++ </div>
                <div class="array-three-button" (click)="changeCurrent('x','minus')"> X-- </div>
            </div>
            <div class="array-three-main">
                @for( rowy of [].constructor(axisY); track rowy;let y = $index;) {
                    <div style="display: flex;" [style.background-color]="( axisY - y - 1 ) == currentY ? '#0000FF80' : ''">
                        @for ( colz of [].constructor(axisZ); track colz; let z = $index) {
                            @if( isBlock(null,y,z) ) {
                                <div 
                                    (contextmenu)="removeBlock(null,y,z)"
                                    (click)="addBlock(null,y,z)"
                                    class="array-three-block">
                                </div>
                            }@else{
                                <div 
                                    (click)="addBlock(null,y,z)"
                                    class="array-three-cell"
                                    [style.background-color]="z == currentZ ? '#0000FF80' : ''">
                                </div>
                            }
                        } 
                    </div>
                }
            </div>
        </div>
        <div class="array-three-info">
            <div style="display: flex;">
                <ui-select [(value)]="selectArea" [options]="options"></ui-select>
                <ui-input [(value)]="inputStr"></ui-input>
                <ui-button (btnClick)="showText()">submit</ui-button>
            </div>
            <div>
                <div class="array-three-button" (click)="changeCurrent('x','plus')"> X++ </div>
                <div class="array-three-button" (click)="changeCurrent('x','minus')"> X-- </div>
                <div class="array-three-button" (click)="changeCurrent('y','plus')"> Y++ </div>
                <div class="array-three-button" (click)="changeCurrent('y','minus')"> Y-- </div>
                <div class="array-three-button" (click)="changeCurrent('z','plus')"> Z++ </div>
                <div class="array-three-button" (click)="changeCurrent('z','minus')"> Z-- </div>
            </div>
        </div>
    </div>
</div>


<!-- 
 y|  /z
  | /
x |/_________
 
sinx
_      _ _ 
 \    /   \
  \_ /     \       |
                   |
                   |----___
                  |        |)===============
 ( ) ______________\       /__
   /   _________              \
  / __________________________ \
  \O                         O/
 | \_( )__( )__( )__( )__( )_/
 |
 |
-->