<div class="rolya">
    <div class="rolya-main">

      <div class="rolya-opposite" >
        <div class="rolya-opposite-info">
          Total: {{ cpuToalBound }}
          Turn: {{ cpuInBound }}
          Current: {{ cpuCurrentBound}}
        </div>  
        <div clas="rolya-opposite-card">
          @for (item of cardOpposite;let i = $index ;track item) {
            @if( i == 0){
              <poker-card  
                class="rolya-cardgroup"
                [backshow]="true"
                [cardData]="item">
              </poker-card>
            }
            @else{
              <poker-card  
                class="rolya-cardgroup"
                [cardData]="item">
              </poker-card>
            }
          }
        </div>
      </div>
      

      <div class="rolya-self">
        <div class="rolya-self-card" >
          @for (item of cardInHand;let i = $index ;track item) {
            <poker-card  
              class="rolya-cardgroup"
              [allowHover]="true"
              [cardData]="item">
            </poker-card>
          }
        </div>

        <div class="rolya-self-operator">
          <div class="rolya-self-info">
            u: {{ score }}
            total: {{ playerToalBound }}
            in: {{ playerInBound }}
            current: {{ playerCurrentBound}}
          </div>
          <div class="rolya-self-input">
              <ui-input type="number" [numberStep]="1000" [(value)]="inputNumber">
              </ui-input>
          </div>
          <div class="rolya-self-btn">
            <ui-button 
              modeType="text"
              [disabled]="inputNumber < cpuCurrentBound"
              class="rolya-bound"
              (btnClick)="doBounds(inputNumber)">
              {{ message }}
            </ui-button>

            <ui-button 
              modeType="text"
              [disabled]="inputNumber < cpuCurrentBound"
              class="rolya-restart"
              (btnClick)="doBounds(inputNumber)">
              {{ message }}
            </ui-button>
          </div>
          
        </div>

      </div>
       
    </div>
    
    

    <!-- @if(){
      <div class="rolya-speaker">
        speaker: {{ speaker ? 'cpu' : 'player' }}
      </div>
    } -->
    

    <div class="rolya-round">
      round: {{ round }}
    </div>

    
</div>




<!-- 
| info      poker             
|          |           
      POKER
|          |
| opreation| 
|          |





-->