<div class="rolya">
    <div class="rolya-main">

      <div class="rolya-opposite" >
        <div class="rolya-opposite-info">
          <div>
            turn: {{ turn }}
          </div>
          <div>
            total: {{ cpuToalBound }}
          </div>
          <div>
            in: {{ cpuInBound }}
            current: {{ cpuCurrentBound}}
          </div>
        </div>  
            
        <div clas="rolya-opposite-card">
          @for (item of cardOpposite;let i = $index ;track item) {
            @if( i == 0){
              <poker-card  
                class="rolya-main-content-hand"
                [backshow]="true"
                [cardData]="item">
              </poker-card>
            }
            @else{
              <poker-card  
                class="rolya-main-content-hand"
                [cardData]="item">
              </poker-card>
            }
          }
        </div>

        
      </div>
      

      <div class="rolya-self">
       
        <div class="rolya-self-card" >
          @for (item of cardInHand;let i = $index ;track item) {
            <poker-card  
              class="rolya-main-content-hand"
              [allowHover]="true"
              [cardData]="item">
            </poker-card>
          }
        </div>


         <div class="rolya-self-info">
          <div class="rolya-main-self-score">
            u: {{ score }}
            total: {{ playerToalBound }}
            in: {{ playerInBound }}
            current: {{ playerCurrentBound}}
          </div>
          <div class="rolya-main-self-btn">
            <div>
              <ui-input type="number" [numberStep]="1000" [(value)]="inputNumber">
              </ui-input>
            </div>
            <div>
              <ui-button 
                modeType="text"
                [disabled]="inputNumber < cpuCurrentBound"
                class="rolya-main-content-restart"
                (btnClick)="doBounds(inputNumber)">
                {{ message }}
              </ui-button>
            </div>
          </div>
          <!-- 
            
          
          -->
          
        </div>

      </div>
       
    </div>
    


    <div class="rolya-speaker">
       speaker: {{ speaker ? 'cpu' : 'player' }}
    </div>
</div>




<!-- 
| info      poker             
|          |           
|               | 
|
|  
      POKER
|          |
| opreation| 
|          |



-->