.ui-textarea-wrapper {
    .ui-textarea{
        font-family: none;
        width: 100%;
        padding: 0;
        border: 1px solid #eee;
        border-radius: 4px; 
        font-size: 1.2em;
        overflow: hidden;
        height: auto;
    }
    .noDrop{
        resize: none;
    }
    .readOnly{
        padding: 0;
        background-color: transparent;
        border: 1px solid transparent;
    }
}