<div class="dialog-backdrop">
  <div 
    class="dialog"
    [style.width.px]="dialogWidth"
    [style.height.px]="dialogHeight"
    >
    <div 
      class="dialog-header"
      [class.darkmode]="darkmode"
      >
        <div class="dialog-title" [style.color]="darkmode ? '#FFF' : '#333'">{{ title }}</div>
        <ui-button 
          class="dialog-close"
          modeType="icon"
          (click)="onClose()">
          <mat-icon [style.color]="darkmode ? '#FFF' : '#333'">close</mat-icon>
        </ui-button>
    </div>
    <div 
      class="dialog-body" 
      [class.darkmode]="darkmode">
      <ng-content></ng-content>
    </div>
    @if ( !noFooter ) {
      <div class="dialog-footer"
      [class.darkmode]="darkmode">
      <ui-button 
          themeType="primary" 
          (click)="onConfirm()">
          {{ confirmText }}
        </ui-button>
        <ui-button 
          themeType="error" 
          (click)="onClose()">
          {{ cancelText }}
        </ui-button>
      </div>
    }
  </div>
</div>