<div class="mathtable">

  <div class="mathtable-container">
    <div class="mathtable-showtables">
      @for( rows of questionArray; track rows;let i = $index;) {
        @for ( cell of rows; track $index) {
          <div class="mathtable-showtables-item">
            @if ( cell !== 0) {
              {{ cell }}
            }
          </div>
        }
      }
    </div>
    @for( rows of [].constructor(9); track rows;let i = $index;) {
      <div class="mathtable-row">
        @for ( cell of [].constructor(9); track cell;let j = $index) {
          <div 
            class="mathtable-cell" 
            [style.border-left]="j % 3 === 0 ? '2px solid #000' : '1px solid #AAA'"
            [style.border-top]="i % 3 === 0 ? '2px solid #000' : '1px solid #AAA'"
            [id]="'mathcell'+ (i * 9 + ( j + 1 ))">
          </div>
        }
      </div>
    }
    
  </div>
  

  <div class="mathtable-numberstorge" id="numberstorage">
    @for( rows of [].constructor(9); track rows;let i = $index;) {
      <div class="mathtable-numberstorge-item">
        {{ i + 1 }}
      </div>
    }
  </div>

  <div>
    <div 
      id="rubbish" 
      style="background-color: red;width: 100px;height: 100px;">
    </div>
    <ui-button (btnClick)="restart()">
       RESTART!
    </ui-button>
  </div>
  
  
</div>


<!-- mugannin number 1-9 drag to 9x9 math-hido  -->



