<div class="test">
    <div class="test-log">

    </div>
    <div class="test-main" cdkDropListGroup>
      <div class="test-main-top-float">?</div>
      <div 
        class="test-main-content"
        cdkDropList
        [cdkDropListData]="cardDesk"
        cdkDropListOrientation="horizontal"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        @for (item of cardDesk; track item;let i = $index;) {
          <full-card
            class="test-main-content-item"
            cdkDrag
            [cardData]="item"
            >
          </full-card>
        }
      </div>
      <div 
        class="test-main-float" 
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="cardInHand">
        @for (item of cardInHand; track item) {
          <full-card  
            class="test-main-content-fuzu"
            cdkDrag
            [cardData]="item">
          </full-card>
        }
      </div>
    </div>
    <div class="test-right">
      <ui-button (btnClick)="netxMethod()">
        <mat-icon>add</mat-icon>
      </ui-button>
    </div>

</div>

<!-- 







-->