<div class="test">
    <div class="test-main" cdkDropListGroup>

      <div class="test-main-opposite" >
        <div class="test-main-opposite-info">
          <div>
            cpu: {{ cpuScore }}
          </div>
          <div>
            number: {{ cardOpposite.length }}
          </div>
        </div>
        @for (item of cardOpposite;let i = $index ;track item) {
          <poker-card  
            [style.transform]="'rotate(' + ((cardInHand.length / 2 - i) * 5) + 'deg)'"
            [style.transform-origin]="'60px 0px'"
            class="test-main-content-hand"
            [backshow]="true"
            [cardData]="item">
          </poker-card>
        }
      </div>

      <div 
        class="test-main-content"
        cdkDropList
        [cdkDropListData]="cardDesk"
        cdkDropListOrientation="horizontal"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        @for (item of cardDesk; track item;let i = $index;) {
          <poker-card
            class="test-main-content-item"
            cdkDrag
            [cdkDragDisabled]="true"
            [cardData]="item"
            [notFull]="i !== 0 && i !== cardDesk.length - 1 ? true : false"
            >
          </poker-card>
        }
        @if( over ){
          <ui-button 
            modeType="text"
            class="test-main-content-restart"
            (btnClick)="restart()">
            RESTART
          </ui-button>
        }
        
      </div>

      <div class="test-main-self">
        <div class="test-main-self-info">
          <div class="test-main-self-score">
            u: {{ score }}
          </div>
          <button 
            class="test-main-self-btn" 
            [disabled]="cardInHand.length > 10"
            (click)="netxMethod()">
            <mat-icon >add</mat-icon>
          </button>
          
        </div>
        <div 
          class="test-main-self-hand" 
          cdkDropList
          cdkDropListOrientation="horizontal"
          [cdkDropListData]="cardInHand">
          
          @for (item of cardInHand;let i = $index ;track item) {
            <poker-card  
              [style.transform]="'rotate(' + ((i - cardInHand.length / 2) * 5) + 'deg)'"
              [style.transform-origin]="'60px 180px'"
              class="test-main-content-hand"
              cdkDrag
              [allowHover]="true"
              [cardData]="item">
            </poker-card>
          }
        </div>
      </div>
      
    </div>
</div>
