.card-edit{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    &-content{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    
    &-list{
        width: 12%;
        height: 100%;
    }
   
}

.card-edit{
    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
    }
    &-btngroup{
        display: flex;
        height: 32px;
    }
    &-warning{
        color: red;
        height: 32px;
        font-size: 28px;
        line-height: 28px;
    }

}

.card-edit{
    &-main{
        width: 88%;
        height: 100%;
    }
    &-all{
        width: 100%;
        margin-top: 20px;
        height: 240px;
        &-inner{
            display: flex;
            gap: 1em;
            margin-left: 20px;
        }
    }
}



.card-edit{
    
    &-board{
        width: 100%;
        display: flex;
        height: calc(100% - 240px);
    }
    &-left{
        //width: 140px;
        //height: 100%;
        border: 1px solid #000;
        margin-left: 20px;
        &-info{

        }
        &-operation{
            display: flex;
        }
    }



    &-bin{
        width: 140px;
        height: 220px;
        border: 1px solid #000;
        margin-left: 20px;
        
    }
    &-editing{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        height: 100%;
        width: calc(100% - 160px);
        padding: 0em 1em;
    }
    &-group{
        display: flex;
        &-delete{
            font-size: 24px;
            width: 24px;
            height: 24px;
        }
    }
}

::ng-deep .cdk-virtual-scroll-content-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}