<div class="reader-homepage">
    <div class="reader-homepage-main">
        
        <div class="reader-homepage-tools">
            <div class="tools-operator">
                <div class="tools-operator-btngroup">
                    <div class="tools-operator-btngroup-left">
                        <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="go2RootPath()">
                            <mat-icon>home</mat-icon>
                        </ui-button>
                        <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="init()">
                            <mat-icon>refresh</mat-icon>
                        </ui-button>
                        @if( detailMode ){
                            <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="detailMode = false">
                                <mat-icon>view_comfy</mat-icon>
                            </ui-button>
                        }@else{
                            <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="detailMode = true" >
                                <mat-icon>list</mat-icon>
                            </ui-button>
                        }
                        <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="showsort = !showsort" >
                            <mat-icon>sort</mat-icon>
                        </ui-button>
                    </div>
                   
                    <div class="tools-operator-sort" [class.tools-operator-sort-active]="showsort">
                        @for ( option of sortOptions; track option; let i = $index) {
                            <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="sortBy(option.value)">
                                <mat-icon>{{ option.icon }}</mat-icon>
                            </ui-button>
                        }
                    </div>
                    <!--  -->
                    
                </div>
                <div class="tools-operator-search">
                    <ui-input [(value)]="searchStr" placeholder="搜索"></ui-input>
                    <ui-button class="tools-operator-btn" modeType="icon" >
                        <mat-icon>search</mat-icon>
                    </ui-button>
                </div>
            </div>
            <div class="tools-breadcrumb">
                <ui-button class="tools-operator-btn" modeType="icon" (btnClick)="setMainPath()">
                    <mat-icon>settings</mat-icon>
                </ui-button>
                @for (crumb of breadCrumbList; track crumb.fullPath; let i = $index) {
                    <ui-button 
                        modeType="text"
                        class="tools-breadcrumb-item"
                        [class.tools-breadcrumb-item-active]="crumb.fullPath === filePath"
                        (click)="go2Path(crumb.fullPath)">
                        @if( i == 0){
                            {{ crumb.fullPath }}
                        }@else {
                            {{ crumb.name }}
                        }
                    </ui-button>
                    @if(i < breadCrumbList.length - 1) {
                        <span class="tools-breadcrumb-sep">/</span>
                    }   
                }
            </div>
        </div>


        <div 
            class="reader-homepage-content"
            [class.reader-homepage-content-detail]="detailMode"
            >
            @for( file of mainTest;track file;let index = $index){
                <ui-card
                    [cardData]="file"
                    [detailMode]="detailMode"
                    [disabled]="editConfig || addConfig"
                    [selected]="file.path === configFilePath || imageViewerPath === file.path"
                    (cardClick)="showConfig(file)"
                    (cardDbClick)="openFolder(file)">
                </ui-card>    
            }
            @if ( showImgSingle ) {
                <ui-dialog
                    [title]="imageViewerPath"
                    (close)="showImgSingle = false"
                    [dialogHeight]="'720px'"
                    [dialogWidth]="'1200px'"
                    [noFooter]="true">
                        <img class="single-img" [src]="imageViewerPath" />
                </ui-dialog>
            }
        </div>
    </div>
    
    <div class="reader-homepage-info">
        <div class="info">   
            <div class="reader-homepage-info-title">
                @if( imageViewerPath !== '' ){
                    {{ imageViewerPath }}
                }@else{
                    {{ configFilePath  }}
                }
            </div>
            @if( imageViewerPath !== '' ){
                <img 
                    class="info-cover"
                    [src]="imageViewerPath" 
                />
            }@else {
                @if( !config || addConfig ) {
                <div class="empty-info">
                    <div class="empty-info-header">
                        @if(addConfig){
                            <ui-button class="empty-info-btn" modeType="icon" (btnClick)="cancelAddConfig()">
                                <mat-icon>close</mat-icon>
                            </ui-button>
                            <ui-button class="empty-info-btn" modeType="icon" (btnClick)="writeJson()">
                                <mat-icon>save</mat-icon>
                            </ui-button>
                            
                        }@else {
                            <ui-button class="empty-info-btn" modeType="icon" (btnClick)="initAddConfig()">
                                <mat-icon>add</mat-icon>
                            </ui-button>
                        }
                    </div>
                </div>
                }
                @if (config) {
                    <div>
                        @if( !addConfig ) {
                            @if(config.cover !== ''){
                                <img 
                                    class="info-cover"
                                    [class.info-cover-edit]="editConfig"   
                                    [src]="configFilePath + '/' + config.cover" 
                                    (click)="selectCover()"
                                />
                            }
                            @else if( editConfig){
                                <div class="info-cover-add" (click)="selectCover()">
                                    <mat-icon class="info-cover-add-icon">add_a_photo</mat-icon>
                                </div>
                            }
                            <ui-button class="info-start" themeType="success" (btnClick)="startRead()">
                                {{ startText }}
                            </ui-button>
                        }@else {
                            @if( config.cover == '' ){
                                <div class="info-cover-add" (click)="selectCover()">
                                    <mat-icon class="info-cover-add-icon">add_a_photo</mat-icon>
                                </div>
                            }@else {
                                <img 
                                    class="info-cover"
                                    [class.info-cover-edit]="editConfig"   
                                    [src]="configFilePath + '/' + config.cover" 
                                    (click)="selectCover()"
                                />
                            }
                        }
                        <div class="info-frame">            
                            <div>
                                <div class="info-title">
                                    @if (config) {
                                        <ui-textarea
                                            name="titleTextarea"
                                            [(value)]="config.name"
                                            [readOnly]="!editConfig && !addConfig"
                                        >
                                        </ui-textarea>
                                    }
                                    
                                </div>
                                <div class="info-line">
                                        <div class="info-rank">
                                        @for(stars of [].constructor(config.rank);track stars;){
                                            <mat-icon class="info-star">star</mat-icon>   
                                        }
                                    </div>
                                    @for(stars of [].constructor(10);track stars;let index = $index){
                                        <mat-icon 
                                            class="info-starborder" 
                                            [class.mat-icon-active]="editConfig" 
                                            (click)="editRank(index)">
                                            star_border
                                        </mat-icon>
                                    }
                                    
                                </div>
                                <div class="info-line">
                                    <div class="info-label">
                                        {{ aurthorLabel }}
                                    </div>
                                    @if(editConfig || addConfig) {
                                        <ui-input
                                            class="info-author-edit"
                                            [(value)]="config.author">
                                        </ui-input>
                                    }
                                    @else {
                                        <ui-button class="info-author " modeType="text">
                                            {{config.author}}
                                        </ui-button> 
                                    }
                                </div>
                                <div class="info-line">
                                    <div class="info-label">{{ tagLabel }}</div>
                                    @for (tag of config.tag; track $index) {
                                        <div class="button-tag-container">
                                            <ui-button class="button-tag" modeType="text" [disabled]="editConfig">
                                                {{ tag }}
                                            </ui-button>
                                            @if(editConfig || addConfig) {
                                                <mat-icon class="button-tag-close" (click)="removeTag($index)">close</mat-icon>
                                            }
                                        </div>                            
                                    }
                                    @if (editConfig || addConfig) {
                                        @if( addingTag ) {
                                            <ui-input
                                                class="button-tag-add-input"
                                                [(value)]="currentAddTag">
                                            </ui-input>
                                            <ui-button class="button-tag-add" modeType="icon" [disabled]="currentAddTag == ''" (btnClick)="checkTag()">
                                                <mat-icon class="button-tag-add-icon">check</mat-icon>
                                            </ui-button>
                                            
                                        }
                                        <ui-button class="button-tag-add" modeType="icon" [disabled]="addingTag" (btnClick)="addTag()">
                                            <mat-icon class="button-tag-add-icon">add</mat-icon>
                                        </ui-button>
                                    }
                                </div>
                                <div class="info-line">
                                    <div class="info-label">{{ descriptionLabel }}</div>
                                    <div class="info-description">
                                        @if(config){
                                            <ui-textarea
                                                name="descriptionTextarea"
                                                [(value)]="config.description"
                                                [readOnly]="!editConfig && !addConfig"
                                            >
                                            </ui-textarea>
                                        }
                                        
                                    </div>
                                </div>
                            </div>   
                            @if( !addConfig ){
                                <div>
                                    @if(editConfig == false){
                                        <ui-button modeType="icon" (btnClick)="editConfig = true">
                                            <mat-icon>create</mat-icon>
                                        </ui-button>
                                    }@else{
                                        <ui-button modeType="icon" (btnClick)="writeJson()">
                                            <mat-icon>save</mat-icon>
                                        </ui-button>
                                        <ui-button modeType="icon" (btnClick)="editConfig = false">
                                            <mat-icon>close</mat-icon>
                                        </ui-button>
                                    }
                                    <ui-button modeType="icon" (btnClick)="readJson()" [disabled]="editConfig">
                                        <mat-icon>autorenew</mat-icon>
                                    </ui-button>
                                    <ui-button modeType="icon" (btnClick)="deleteConfigDialog = true" [disabled]="editConfig">
                                        <mat-icon>delete</mat-icon>
                                    </ui-button>
                                    @if( deleteConfigDialog ){
                                        <ui-dialog
                                            [dialogHeight]="'140px'"
                                            [dialogWidth]="'320px'"
                                            (close)="deleteConfigDialog = false"
                                            (confirm)="deleteConfig()"    
                                        >
                                        <div class="delete-config-dialog">{{ deleteConfigText }}</div>
                                        </ui-dialog>
                                    }
                                </div> 
                            }  
                        </div>
                    </div>
                }
                @if( editingCover ){
                    <ui-dialog
                        [title]="selectCoverLabel"
                        (close)="editingCover = false"
                        [dialogHeight]="'600px'"
                        [dialogWidth]="'800px'"
                        [noFooter]="true"
                        >
                        <div class="select-cover">
                            @for(image of coverList;track image;let index = $index){
                                <div>
                                    <img 
                                    class="select-cover-item"
                                    [class.select-cover-item-active]="currentCover === image"
                                    [src]="configFilePath + '/' + image" 
                                    (click)="currentCover = image" 
                                    (dblclick)="changeCover(image)"
                                    />
                                    <div class="select-cover-name">{{image}}</div>
                                </div>
                                
                            }
                        </div>
                    </ui-dialog>
                }
            }
        </div>
    </div>
    @if( readMode ){
        <ui-dialog
            [title]="config ? config.name : floderName"
            (close)="readMode = false"
            [dialogHeight]="fullscreenflag ? '100%' : '720px'"
            [dialogWidth]="fullscreenflag ? '100%' : '1200px'"
            [darkmode]="darkmode"
            [noFooter]="true">
            <div 
                class="reader-dialog-inner"
                [style.background-color]="darkmode ? '#333' : '#FFF'">
                <ui-viewer
                    (darkmodeChange)="darkmodeChange($event)"
                    (fullscreenChange)="fullscreenChange($event)"
                    [dirPath]="configFilePath"
                    [viewerData]="coverList">
                </ui-viewer>
            </div>
        </ui-dialog>
    }
</div>
