.reader-homepage{
    display: flex;
    height: 100%;
    min-height: 100vh;
    &-main{
        width: 72.5%;
        padding: 1em;
        background-color: #EEE;
    }
    &-info{
        width: 27.5%;
        padding: 1em;
        background-color: #DFE
    }  
    &-content{
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    } 
}

.info{
    &-cover{
        width: 100%;
        height: auto;
        &-edit{
            cursor: pointer;
            border: 4px dashed orange;
        }
        &-add{
            width: 100%;
            height: auto;
            aspect-ratio: 3/4;
            position: relative;
            cursor: pointer;
            border: 4px dashed orange;
            &-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &-start{
        margin:0.5em;
        display: block;
        text-align: center;
    }
    &-frame{
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
    }
    &-title{
        font-size: 1.5em;
        word-break: break-all;
        line-height: normal;
        width: 300px;
    }
    &-line{
        margin: 0.5em 0;
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        row-gap: 6px;
    }
    &-label{
        margin-right: 1em;
        width: 36px;
    }
    
    &-author{
        border: #DDD 1px solid;
        width: fit-content;
        font-size: 0.8em;
        display: block;
        border-radius: 4px;
        height: 30px;
        min-width: 80px;
        text-align: center;
        &-edit{
            width: 250px;
            height: 30px;
            font-size: 1em;

        }
    } 
    &-description{
        word-break: break-all;
        width: 250px;
    }
    &-rank{
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    &-star{
        color: yellow;
    }
    &-starborder{
        z-index: 1;
    }

}
.button-tag{
    border: #DDD 1px solid;
    width: fit-content;
    min-width: 50px;
    font-size: 0.8em;
    border-radius: 4px;
    margin-right: 0.5em;
    height: 30px;
    display: block;
    text-align: center;
    &-container{
        position: relative;
    }
    &-close{
        font-size: 12px;
        height: 12px;
        width: 12px;
        cursor: pointer;
        position: absolute;
        right: 2px;
        top: -3px;
        background-color: red;
        border-radius: 50%;
        color: #FFF;
    }
    &-add{
        height: 30px;
        &-icon{
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
        &-input{
            width: 80px;
            height: 30px;
        }   
    }
}
.select-cover{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    &-item{
        width: 150px;
        height: 210px;
        object-fit: cover;
        border-radius: 4px;
        &-active{
            border: 2px solid orange;
        }
    }
    &-name{
        font-size: 0.8em;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
}
.reader-dialog{
    &-inner{
        height: 100%;
        background-color: #333;
    }
}
.empty-info{
    &-header{
        display: flex;
        justify-content: flex-end;
    }
    &-btn{
        width: fit-content;
    }
}


.mat-icon-active{
    cursor: pointer;
}