.test{
  display: flex;
  height: 100vh;
  &-log{
    background-color: #ffabb1;
  }
  &-main{
    background-color: #00abff;
  }
  &-right{
    background-color: #abff00;
  }
}

.test-main{
  &-float{
    position: absolute;
    width: 100%;
    background-color: #ff00ff55;
    display: flex;
    &-item{
      width: 100px;
      height: 150px;
      background-color: #cccccc;
    }
  }
}
.test-main-content-left-bottom{
  display: flex;
  &-item{
    width: 100px;
    height: 100px;
    background-color: #FFF;
  }
}