.app-main{
    display: flex;
    height: 100vh;
    &-side{
        width: 10%;
        padding: 1em;
        min-width: 80px;
        background-color: #DDD;
        &-item{
            margin: 0.5em;
        }   
    }
    &-content{
        width: 90%;
        background: #F3F4F5;
    }
}


