<div
  class="full-card"
  [class.full-card-hover]="allowHover"
  [class.not-full]="notFull"
>
  @if( cardData && !backshow ) {
  <div class="full-card-upside">
    <div class="full-card-top" [style.display]="!notFull ? 'flex' : 'block'">
      {{ cardData.label }}
      <mat-icon class="full-card-icon"> {{ cardData.type }} </mat-icon>
    </div>
    @if ( !notFull ) {
    <div
      class="full-card-content"
      [class.full-card-strange]="halfNumber == 0"
      [style.grid-template-columns]="halfNumber == 1 ? '100%' : '50% 50%'"
    >
      @for(item of [].constructor(halfNumber); track item) {
      <mat-icon
        class="full-card-icon"
        [style.fontSize.px]="120 / halfNumber > 32 ? 32 : 120 / halfNumber"
        [style.height.px]="120 / halfNumber"
        [style.width.px]="120 / halfNumber"
      >
        {{ cardData.type }}
      </mat-icon>
      }
    </div>
    }
  </div>

  @if( isOdd && !notFull ) {
  <div class="full-card-middle">
    <mat-icon
      class="full-card-icon"
      [style.fontSize.px]="120 / halfNumber > 32 ? 32 : 120 / halfNumber"
      [style.height.px]="halfNumber == 0 ? 32 : 120 / halfNumber"
      [style.width.px]="halfNumber == 0 ? 32 : 120 / halfNumber"
    >
      {{ cardData.type }}
    </mat-icon>
  </div>
  }

  <div class="full-card-downside">
    <div
      class="full-card-top"
      [style.bottom.px]="-20"
      [style.display]="!notFull ? 'flex' : 'block'"
    >
      {{ cardData.label }}
      <mat-icon class="full-card-icon"> {{ cardData.type }} </mat-icon>
    </div>
    @if ( !notFull ) {
    <div
      class="full-card-content"
      [style.grid-template-columns]="halfNumber == 1 ? '100%' : '50% 50%'"
    >
      @for(item of [].constructor(halfNumber); track item) {
      <mat-icon
        class="full-card-icon"
        [style.fontSize.px]="120 / halfNumber > 32 ? 32 : 120 / halfNumber"
        [style.height.px]="120 / halfNumber"
        [style.width.px]="120 / halfNumber"
      >
        {{ cardData.type }}
      </mat-icon>
      }
    </div>
    }
  </div>
  } @if ( backshow ) {
  <div class="full-card-backshow"></div>
  }
</div>

